# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so they can be added to the ignore list.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
doc/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or app, you might want to share your .python-version.
#   For an executable, it's sometimes better to not share it.
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if used with a virtualenv, it might be better to exclude Pipfile.lock
#   to avoid merge conflicts.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is generally recommended to be committed.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock is generally recommended to be committed.
# pdm.lock
#   pdm build tool outputs
.pdm-build/

# virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables & secrets
.env
.env.*
!.env.example

# Custom Project ignores
sessions/
logs/
*.jsonl
